.stApp {
    /* background-color: red !important; */
}

/* .stChatInput {
    border-radius: 100px;
}

.stChatInput div[data-baseweb="textarea"] {
    border-radius: 100px;
    border: 1px solid #D9D9D9;
}

.stChatInput div[data-baseweb="base-input"] {
    background-color: #F5F5F5;
} */